# GCP Configuration
GCP_PROJECT_ID=
GCP_REGION=us-central1
GCP_ZONE=us-central1-a

# GCS Bucket for Terraform Backend
GCS_BUCKET_NAME=

# Docker Registry Configuration
DOCKER_USERNAME=
DOCKER_PASSWORD=

# App Configuration
PORT=8080

# Kubernetes Cluster Configuration
CLUSTER_NAME=devops-gke-cluster
ENVIRONMENT=prod
OWNER=
